#info {
    font-size: 150%;
    font-family: Tahoma, sans-serif;
    background-color: rgba(95, 136, 160, 0.548);
    border-radius: 5px;
    color: white;
}

input {
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid rgba(22, 128, 214, 0.459);
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}