body {
  background: url('./images/map-of-the-world-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  margin: 5px;
}

table {
  background-color: rgba(72, 122, 151, 0.849);
}

tbody tr:hover {
  background-color: rgba(39, 86, 114, 0.479);
}

.flag {
  width: 50px;
}

@media screen and (max-width: 800px) {
  th {
    overflow: hidden;
  }
}